@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

:root {
    --primary-color:  blue;
}


body {
    background: #f2f2f2;
    margin: 0;
    font-family: 'Poppins';
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://www.jetsetter.com//uploads/sites/7/2018/04/sjeL0BSe-1380x690.jpeg');
}


.logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}

span {
    color: var(--primary-color);
}

nav {
    display: none;
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: black;
    height: 100vh;
    padding: 1em;
}

nav.menu-btn {
    display: block;
}

.container{
    display: flex;
    place-content: space-between;
}

.Open-menu {
    cursor: pointer;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

:root {
    --primary-color:  blue;
}


body {
    background: #f2f2f2;
    margin: 0;
    font-family: 'Poppins';
}

.logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}

span {
    color: var(--primary-color);
}

nav {
    display: none;
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: black;
    height: 100vh;
    padding: 1em;
}

nav.menu-btn {
    display: block;
}

.container{
    display: flex;
    place-content: space-between;
}

.Open-menu {
    cursor: pointer;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.img {
    border-radius: 5px 5px 0 0;
  }
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .containers {
    padding: 2px 16px;
  }
