@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

:root {
    --primary-color:  salmon;
}

#travelTitle{
    text-size-adjust: 30px;
    text-align: center;
    font-family: 'Poppins';
    color: rgb(0, 0, 0);
}

body {
    background: #f2f2f2;
    margin: 0;
    font-family: 'Poppins';
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url('https://thumbs.dreamstime.com/b/%D0%BF%D0%B5%D1%87%D0%B0%D1%82%D1%8C-153419622.jpg');
}


.navbar {
    background: white;
    padding: 1em;
    
}

.navbar .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.5em;
}

.navbar .logo span {
    color: var(--primary-color);
    font-size: 1.3em;
}

.navbar nav {
    display: none;
}

.navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
}



span {
    color: var(--primary-color);
}

nav {
    display: none;
    position: fixed;
    z-index: 5;
    width: 17%;
    right: 0;
    top: 0;
    border-radius: 30px;
<<<<<<< HEAD
    background: rgb(46, 43, 43);
    height: 22vh;
=======
    height: 18vh;
>>>>>>> 05d269c7f8ca1285ca04d6b99ed90fb1cb4a3a6f
    padding: 1em;
    background-color: salmon;
}

@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
nav ul.primary-nav {
    margin-top: 5em;
    list-style: none;
    display: block;
    line-height: 44px;
    padding: 0 28px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: -0.016em;
    font-weight: 4em;
    
}

nav li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: .5em;
    font-size: 1.3em;
    text-align: right;
    margin: 0;
    padding: 0;
}

nav li a:hover {
    font-weight: bold;
}

nav.menu-btn {
    display: block;
}

.container{
    display: flex;
    place-content: space-between;
}

.Open-menu {
    cursor: pointer;
}

.home {
    color: black;
    text-decoration: none;
    display: block;
    padding: .5em;
    font-size: 1.3em;
    float: left;
    margin: .5em;
    cursor: pointer;
    
}

nav .home:hover {
    font-weight: bold;
}
nav.menu-btn {
    display: block;
}

.menu {
    cursor: pointer; 
    display: block; 
    
}

#cards {
    margin: 2rem;
}

.card {
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 40px;
    transition: 0.3s;
    float: left;
    text-align: center;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border: black solid 1px;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52



}

.img {
    justify-self: center;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
    border-radius: 5px;
    border: black solid 1px;
    padding: 1rem;
    width: 20rem;
    height: 30rem;
    display: inline-grid;
    margin: -1rem;
    box-shadow: 3px 3px #0606da
    
}

.card:hover{
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

.img {
    display: block;
    justify-self: center;
    height: 10em;
    width: 10em;
}


p {
    font-family: 'Kalam';
    padding: 1px

}

h2 {
    font-family: 'Kalam';
}

#destination-form {
    font-size: 1em;
    font-family: 'Kalam'
}



.likes-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  .likes {
    font-size: 0.8rem;
    font-weight: 500;
  }
  
  .like-button {
    color: rgb(174, 16, 16);
    font-size: 1.5rem;
    border: none;
    background: none;
    transition: color 300ms;
    cursor: pointer;
<<<<<<< HEAD
  }
  
  .like-button:hover {
    color: rgb(19, 241, 41);
  }
  
  .like-button:active {
    color: rgb(253, 124, 126);
  }
  
  .like-button:focus {
    outline: none;
  }
=======
}

.like-button:hover {
    color: rgb(19, 241, 41);
}

.like-button:active {
    color: rgb(253, 124, 126);
}

.like-button:focus {
    outline: none;

}

>>>>>>> 05d269c7f8ca1285ca04d6b99ed90fb1cb4a3a6f
